# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Build outputs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Models
Education.Models/bin/
Education.Models/obj/

# Services
Education.Services/bin/
Education.Services/obj/

# ASP.NET Core
Education.APIs/bin/
Education.APIs/obj/

# WPF
Education.Desktop/bin/
Education.Desktop/obj/

# MAUI
Education.Mobile/bin/
Education.Mobile/obj/

# Blazor
Education.Web/bin/
Education.Web/obj/

# NuGet Packages
*.nupkg
**/packages/*
*.snupkg

# Logs
*.log
